<!DOCTYPE html>
<html>

<head>
	<title>PSQL-StatsShow</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/uikit/css/uikit.min.css" />
	<link rel="stylesheet" href="/css/theme.css" />
	<link rel="stylesheet" href="/css/style.css" />
	{{#is path "/login"}}
	<link rel="stylesheet" href="/css/login.css" />
	{{/is}}
	{{#is path "/search"}}
	<link rel="stylesheet" href="/css/search.css" />
	{{/is}}
	{{#is path "/dashboard"}}
	<link rel="stylesheet" href="/css/dashboard.css" />
	{{/is}}

	<script src="/uikit/js/uikit.min.js"></script>
	<script src="/uikit/js/uikit-icons.min.js"></script> 
	{{#isDevMode}}
		<script src="/reload/reload.js"></script>
	{{/isDevMode}}
</head>

<body>
	<nav class="uk-navbar-container" uk-navbar="mode: click" id="menu-top">
		<div class="uk-navbar-left">
			<ul class="uk-navbar-nav">
				<li {{#is path "/dashboard"}}class="uk-active" {{/is}}><a href="/dashboard">Dashboard</a></li>
				<li {{#is path "/search"}}class="uk-active" {{/is}}><a href="/search">Search</a></li>
			</ul>
		</div>
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li>
					<a href="#">PSQL-StatsShow</a>
					<div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li><a href="https://github.com/TiagoDanin/PSQL-StatsShow"><span
										uk-icon="icon: github"></span> GitHub</a></li>
							<li><a href="https://tiagodanin.github.io"><span uk-icon="icon: link"></span>Tiago
									Danin</a></li>
							{{#isEnableClose}}
							<li class="uk-nav-divider"></li>
							<li><a href="/close"><span uk-icon="icon: close"></span>Close
									Server</a></li>
							{{/isEnableClose}}
							<li><a href="/singout"><span uk-icon="icon: sign-out"></span>Sign
									Out</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

	</nav>

	<div id="uk-container">
		{{{body}}}
	</div>
</body>

</html>